<ng-container *ngIf="dataSource">
  <mat-table class="w-10/12 mx-auto shadow-lg" [dataSource]="dataSource">
    <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
      <mat-header-cell *matHeaderCellDef> {{col.name}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[col.key]}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button class="bg-yellow-500 text-gray-800">Editar</button>
        <button mat-button class="bg-red-600 text-gray-200">Eliminar</button>
      </mat-cell>
    </ng-container>
    a-md-data-table-column
    <!-- press ctrl + space to add more column snippet or delete this line -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</ng-container>