<h2 matDialogTitle>titulo</h2>
<mat-dialog-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ratione numquam quisquam enim dicta
  debitis deleniti vero optio iure accusantium, impedit officiis explicabo laboriosam odit praesentium cumque, delectus
  est? Exercitationem!
  Neque excepturi autem eos, quo aut nostrum nesciunt quis deserunt consectetur enim sequi vel ipsa fuga ipsam
  consequuntur, harum voluptas accusamus. Molestias illo totam doloremque repudiandae voluptates deleniti fugit velit.
  Unde nostrum cumque esse doloribus repudiandae officia suscipit labore corporis rerum aliquam aut obcaecati commodi
  natus repellendus saepe repellat maiores, dolore eum maxime. Repellat magnam quas, suscipit officia magni quae.
  Totam quod vitae ex minima eius molestiae ratione. Ut repellendus, placeat incidunt quaerat delectus error odit in,
  facilis eum et dolorum autem magnam ab distinctio deleniti sint saepe maxime beatae?
  Nesciunt quia at officia nobis esse similique accusamus debitis! Eos voluptates officia eius repudiandae placeat neque
  amet dignissimos distinctio repellendus perspiciatis quisquam animi, quos voluptatum alias? Ab fugiat id amet.
  Labore, veniam. Adipisci, soluta quis. Hic, at deleniti laborum dolores inventore voluptas ducimus qui iusto atque
  libero id et quaerat explicabo! Quis doloribus modi neque ipsum mollitia facere eum temporibus?
  Sit qui odit rem aliquam cumque, nemo ratione assumenda distinctio accusantium, ad, maiores impedit aut dolores
  labore! Sit quidem accusamus voluptates dolor, facere earum nam voluptatum nostrum, veritatis, facilis delectus.
  Molestias sunt nulla debitis voluptatem quis in necessitatibus earum quibusdam possimus accusamus illum harum
  consequuntur animi cum iusto ea nobis commodi atque, hic inventore voluptates dolores vel velit laudantium! Quae.
</mat-dialog-content>