<button disabled class="w-full" mat-raised-button color="accent">
  Actualizar
</button>
<div class="flex flex-wrap gap-5">
  <mat-card class="shadow" *ngFor="let rol of permisosEspeciales|async">
    <mat-card-header>
      <mat-card-title>{{rol.nombre}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list role="listbox">
        <mat-list-option color="primary" *ngFor="let permiso of rol.permisos" role="option" [value]="permiso.id">
          {{permiso.nombre}}
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
</div>